<h1>Welcome to Mini Product Store!</h1>
<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <!-- Show "Product" link only if authenticated -->
    <li><a routerLink="/product" routerLinkActive="active" *ngIf="isAuthenticated()">Product</a></li>
    <!-- Show "Cart" link only if authenticated -->
    <li><a routerLink="/cart" routerLinkActive="active" *ngIf="isAuthenticated()">Cart</a></li>
    <!-- Show "Dashboard" link only if authenticated -->
    <li><a routerLink="/dashboard" routerLinkActive="active" *ngIf="isAuthenticated()">Dashboard</a></li>
    <!-- Show "Login" link only if not authenticated -->
    <li><a routerLink="/login" routerLinkActive="active" *ngIf="!isAuthenticated()">Login</a></li>
    <!-- Show "Logout" link only if authenticated -->
    <li><a (click)="logout()" *ngIf="isAuthenticated()">Logout</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
