<div class="container mt-5">
  <h1 class="text-center">Dashboard</h1>

  <p class="fs-5">Users from Fake Store API:</p>

  <!-- Display the list of users -->
  <div *ngIf="users.length > 0; else noUsers">
    <ul class="list-group">
      <li *ngFor="let user of users" class="list-group-item">
        <strong>ID:</strong> {{ user.id }}<br />
        <strong>Username:</strong> {{ user.username }}<br />
        <strong>Email:</strong> {{ user.email }}<br />
        <strong>Password:</strong> {{ user.password }}<br />
        <strong>Name:</strong> {{ user.name.firstname }} {{ user.name.lastname }}<br />
        <strong>Address:</strong>
        <ul>
          <li><strong>City:</strong> {{ user.address.city }}</li>
          <li><strong>Street:</strong> {{ user.address.street }}</li>
          <li><strong>Number:</strong> {{ user.address.number }}</li>
          <li><strong>Zipcode:</strong> {{ user.address.zipcode }}</li>
          <li><strong>Geolocation:</strong> Lat: {{ user.address.geolocation.lat }}, Long: {{ user.address.geolocation.long }}</li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- Fallback if no users are available -->
  <ng-template #noUsers>
    <p>No users found.</p>
  </ng-template>
</div>